body, html{
    position: relative;
  min-height: 100vh;
    margin: auto;
    width: 100%;
    background-color: rgb(204, 229, 255);

    #header{
        
        width: 100%;
        padding: 1% 0;
        background-color: #7c7a7a;
        box-shadow: 0 10px 8px rgba(221, 108, 123, 0.5);
        display: flex;
        justify-content: center;
       
        h1{
            letter-spacing: 3px;
            color: rgb(224, 224, 224);
        }
        #cart{
            display: block;
            position: absolute;
            right: 34px;
            top:38px
        }
    }
    main{
        
        h3 {
            text-align: center;
        }
        .h3h3{
            float: right;
        }
        .categories{
            display: flex;
            justify-content:flex-end;
            padding: 14px;
            float: right;
            clear: both;
            .pro {
                font-size: 25px;
                align-self: center;
                margin-left: 23px;
                margin-right: 30px;
                text-align: right;
            }
        }
        .products{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            min-height: 500px;
        }
        .productsList{
            position: absolute;
            left: 0px;

        }
    }
    #footer{
        width: 100%;
        background-color: black;
        // position:fixed;
        left:0px;
        // bottom:0px;
        height:35px;
        p{
            color: white;
            text-align: center;
        }
    }
}

body main h3, html main h3 {
    text-align: end;
    padding: 38px;
}
